<!-- Main section-->
      <main class="">
        <!-- Page content-->
        <section>
          <div class="container-overlap bg-indigo-500">
            
           



            <div class="container container-md">





            <div class="row"><!--row begins for user info & Title-->
                      <div class="col-xs-6 col-md-2 text-center"><!--row begins for Profile-->
                        <!--div class="box-placeholder"-->

                         <!--Profilephoto-->
          <% if @urban_term.profile.pesnavatar? %>
        <%= link_to (image_tag(@urban_term.profile.pesnavatar.url(:large), :class => "img-circle thumb48 btn-raised btn-circle text-center", :alt =>"user")), profile_path(@urban_term.profile_id) %>


         

        <% else %> 
        <%= link_to (image_tag("noimage.jpg", :class => "media-object img-circle thumb40 btn-raised btn-circle text-center", :alt =>"user")), profile_path(@urban_term.profile_id) %>


       <% end %> 

       <!--end of Profilephoto-->

       <div class="mt indark wht"><!--user  name begins-->



<small>Posted by</small>


<%= link_to @urban_term.profile.first_name.split(" ").map(&:capitalize).join(" ") + ' '+ @urban_term.profile.last_name.split(" ").map(&:capitalize).join(" "), profile_path(@urban_term.profile_id) if @urban_term.profile.first_name || @urban_term.profile.last_name %>

<br>

<span class="text-center top10px">



<%= link_to '<<< Back', urban_terms_path %></span>







       </div><!--user  ends -->


          <!--/div-->
            </div><!--row ends for profile-->

 

                      <div class="col-xs-12 col-sm-6 col-md-8"><!--row begins for Title-->
                        <!--div class="box-placeholder"-->




                        <h2 class="text-center"><%=raw @urban_term.title if @urban_term.title? %></h2>

                        







                        <div class="pull-right pl">
                      <div class="label label-info">


                      <%# time_ago_in_words(Time.now) %>


                                            <% if @urban_term.created_at > Time.now.beginning_of_day %>
    <%="#{time_ago_in_words(@urban_term.created_at)} ago"%> 
<% else %>
    <%= @urban_term.created_at.strftime("%b %d, %Y") %> 
<% end %>


                      
                        



                      <!--/div-->

                    </div>



                        </div>


   

                                          <%# "Tagged:" if @urban_term.tag_ids.present? %> <span class="tags text-center wht"><%# raw @urban_term.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></span>

        

                 <hr>
                       



<span class="text-center">

                       <div class="col-sm-3 bordered-right" style="font-size: 16px; color: #ffffff;"> 

                       <p><em class="ion-eye icon-2x"></em>
                      
                       <strong><%= @urban_term.impressionist_count(:filter=>:session_hash) %></strong>
                       </p>

                       </div>


                     <div class="col-sm-3 bordered-right wht semi-bold"> 
   
                    
                      <br>

                       <%= link_to like_urban_term_path(@urban_term), method: :put do %>
  
  <%= "Like".pluralize(@urban_term.get_upvotes.size) %> <%= @urban_term.get_upvotes.size %>
<% end %>


               

                      </div>


                     <div class="col-sm-3 bordered-right wht" style="font-size: 16px; color: #ffffff;"> 
                   
                     <a href="#comments">
                      <p><em class="ion-chatbubble-working icon-2x"></em>
                      
                       <strong>comments</strong>
                       </p>

                       </a>

                       </div>






                       <!-- Inner card-->
                    
                     
                        <!-- START dropdown-->
                        <div class="col-xs-3 dropdown">
                          <span type="button" data-toggle="dropdown" class="wht" style="font-size: 16px; color: #ffffff;""><strong>

                          <a href="#">

                          <em class="ion-android-share-alt icon-2x"></em>

                          </a>

                          </strong></span>
                          <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                            <li><a href="#">Hide post</a></li>
                            <li><a href="#">Stop following</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Report</a></li>
                          </ul>
                        </div>
                        <!-- END dropdown-->
                        </span>
                       




<%# "Created on #{@definition.created_at.strftime("%m/%e/%Y at %w:%M %p")}, Last modified on #{@definition.updated_at.strftime("%m/%e/%Y at %w:%M %p")}" %>

                    
                      


                     







<!-- Widgets ends-->



                      </div><!--row ends for Title-->


<div class="col-xs-6 col-md-2">
  
likes


</div>






            </div><!--row ends for user info & Title-->

              

            


             


            </div>
          </div>





          <div class="container container-sm">
            <div class="card">






              <div class="card-body reader-block">


 <%= link_to like_urban_term_path(@urban_term), method: :put do %>
  <i class="fa fa-fw fa-thumbs-up fa-2x"></i>
  <%= @urban_term.get_upvotes.size %>
<% end %>

<%= link_to dislike_urban_term_path(@urban_term), method: :put do %>
  <i class="fa fa-fw fa-thumbs-down fa-2x"></i>
  <%= @urban_term.get_downvotes.size %>
<% end %>


                   <!--edit user's definitions-->
                   <% if @urban_term.profile == current_profile %>
                  <div class="card-divider cutbtn20px"></div>
                  <div class="card-offset cutbtn20px">
                    <div class="card-offset-item text-right cutbtn20px">
                         
                <%= link_to edit_urban_term_path(@urban_term) do %><span class="btn-raised btn btn-warning btn-circle btn-lg"><em class="ion-edit"></em> <% end %></span>

               
                    </div>
                  </div>
                   <% else %> <% end %>

                  <!--edit end-->

              <strong class="text-center lead">MEANING</strong>
              <br>
               
               <span class="lead"><%=raw @urban_term.description if @urban_term.description %></span>

               

                <br>

                tag list
              

              </div>
            </div>




            <div class="card">
              <div class="card-body reader-block">
                

                <span class="text-center"><strong>BREAKING IT DOWN</strong></span>
              <br>
               

              <span><%= @urban_term.inaction %></span>





                <div class="text-center">

                      post  image

                      </div>







              </div>
            </div>



            <!--breaking it down ends-->

            <!--images starts -->


             <div class="card">
              <div class="card-body reader-block">
                

              


                <div class="image gallery-group-1">
                    <div class="image-inner">
                       

                       <a href="<%= @urban_term.urbantermcover.url(:large) if @urban_term.urbantermcover? %>" data-lightbox="gallery-group-1">




        <%= image_tag(@urban_term.urbantermcover.url(:large), :class => "img-responsive", :alt =>"gallery") if @urban_term.urbantermcover? %>

     

</a>


                    </div>
                </div>









              </div>
            </div>

            <!--images ends -->




            <!--Video starts -->


             <div class="card">
              <div class="card-body reader-block">
                

              


                <div class="image gallery-group-1">
                    <div class="image-inner">
                       

                       <a href="<%= @urban_term.urbantermcover.url(:large) if @urban_term.urbantermcover? %>" data-lightbox="gallery-group-1">




        <%= image_tag(@urban_term.urbantermcover.url(:large), :class => "img-responsive", :alt =>"gallery") if @urban_term.urbantermcover? %>

     

</a>


                    </div>
                </div>









              </div>
            </div>

            <!--Video ends -->

<!-- comments card-->


               <div class="card" id="comments">
              <div class="card-body reader-block">
                

                <p>
                comments
                  
                </p>
              </div>
            </div>




          </div>



        </section>

        
       
                  

              

             
               
                    
                     
                

                
       
    
        <!-- Page footer-->
        <footer><span>2017 - Centric app.</span></footer>
      </main>
