<p id="notice"><%= notice %></p>

<h1>Hows</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Howcover</th>
      <th>Video</th>
      <th>Profile</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hows.each do |how| %>
      <tr>
        <td><%= how.title %></td>
        <td><%= how.body %></td>
        <td><%= how.howcover %></td>
        <td><%= how.video %></td>
     
  
        <td><%= link_to 'Show', how %></td>
        <td><%= link_to 'Edit', edit_how_path(how) %></td>
        <td><%= link_to 'Destroy', how, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New How', new_how_path %>
