<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @how.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @how.body %>
</p>

<p>
  <strong>Howcover:</strong>
  <%= @how.howcover %>
</p>

<p>
  <strong>Video:</strong>
  <%= @how.video %>
</p>




<%= link_to 'Edit', edit_how_path(@how) %> |
<%= link_to 'Back', hows_path %>
