

 <!-- begin #header -->
    <div id="header" class="header navbar navbar-default navbar-fixed-top">
        <!-- begin container -->
        <div class="container">
                    <!-- begin mobile sidebar expand / collapse button -->
        <div class="navbar-header">

        <span class="navbar-logo"></span><%= link_to "Inside GH", root_path, turbolinks: true, :class => "navbar-brand" %>


         



          <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- end mobile sidebar expand / collapse button -->
            <!-- end navbar-header -->
            <!-- begin #header-navbar -->
            <div class="collapse navbar-collapse" id="header-navbar">

            
                <!-- begin header navigation right -->
        <ul class="nav navbar-nav navbar-right">



   <li class="dropdown">
            <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
              

              <button type="button" class="btn-raised btn btn-primary btn-circle btn-lg title"><em class="ion-plus"></em></button> <strong>Add</strong>

              
              
            </a>
            <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                           
                            

                            <li class="media">
                               
                                    <div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
                                    <div class="media-body">    


                                        <h6><%= link_to 'Urban Term', new_urban_term_path, :class => "media-heading" %></h6>
                                        <div class="text-muted f-s-11">25 minutes ago</div>


                                    </div>
                             
                            </li>




                            <li class="media">
                               
                                    <div class="media-left"><i class="fa fa-plus media-object bg-green"></i></div>
                                    <div class="media-body">    


                                        <h6><%= link_to 'How To', new_how_path, :class => "media-heading" %></h6>
                                        <div class="text-muted f-s-11">25 minutes ago</div>


                                    </div>
                             
                            </li>





                            <li class="dropdown-footer text-center">
                                <a href="javascript:;">View more</a>
                            </li>
            </ul>
          </li>




           <li>











                 <li>
                    <%= link_to "Ghana Urban Terms", urban_terms_path %>
                </li>



                
                <li>
                    <%= link_to "How To", hows_path %>
                </li>
      



<li>
            

           
<%= form_tag urban_terms_path, :class =>"navbar-form full-width", method: :get do %>
              <div class="form-group">
                <input type="text" name="q" id="q" class="form-control" placeholder="Search insideGH" />

                <div class="mda-form-control-line" id="urban_terms-search-results"></div>

                <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
              </div>
        
            <% end %>
            
          </li>
          


          <li class="dropdown">
            <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
              <i class="fa fa-bell-o"></i>
              <span class="label">5</span>
            </a>
            <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                            <li class="dropdown-header">Notifications (5)</li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Server Error Reports</h6>
                                        <div class="text-muted f-s-11">3 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="assets/img/user-1.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">John Smith</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">25 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="assets/img/user-2.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Olivia</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">35 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-plus media-object bg-green"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New User Registered</h6>
                                        <div class="text-muted f-s-11">1 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-envelope media-object bg-blue"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New Email From John</h6>
                                        <div class="text-muted f-s-11">2 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-footer text-center">
                                <a href="javascript:;">View more</a>
                            </li>
            </ul>
          </li>
         <li>


                               
                                    <%# image_tag("noimage.jpg", :class => "img-circle img30") %> 


                                    <span class="hidden-md hidden-sm hidden-xs">


<%= link_to('Login', new_profile_session_path ) %> / 

        <%= link_to('Register', new_profile_registration_path ) %>






                                    </span>
                               
                            </li>
        </ul>
        <!-- end header navigation right -->
            </div>
            <!-- end #header-navbar -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #header -->






